{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<link rel="stylesheet" href="{% static 'findpet/css/findpet.css' %}" />
<script src="{% static 'findpet/script/script.js' %}"></script>

<!-- img will be re-designed soon -->

<h1><a href="{% url 'firstpage' %}"><img class="smallimage" src="{% static 'findpet/images/logo.png' %}"/></a></h1>

<table >
        <thead class="row" >
          <tr>
              <div class="col l1 s2"><th class="namYG">No</th></div>
              <div class="col l2 s4"><th class="namYG">사진</th></div>
              <div class="col l2 s4"><th class="namYG" >실종 장소</th></div>
              <div class="col l1 s2"><th class="namYG">종</th></div>
              <div class="col l2 s4"><th class="namYG">신고 일시</th></div>
              <div class="col l2 s4"><th class="namYG">자세히 보기</th></div>
              <div class="col l2 s4"><th class="namYG">관련된 펫</th></div>
          </tr>
          
        </thead>
        <tbody id= "content" class="row" >
        {% for pet, linked in context %}
          <tr>
            <div class="col l1 s2"><td class="hanD">{{ pet.id }}</td></div>
            <div class="col l2 s4"><td class="hanD"><img src= " {{ pet.thumb }} " width=150 height=150></td></div>
            <div class="col l2 s4"><td class="hanD">{{ pet.where }}</td></div>
            <div class="col l2 s4"><td class="hanD">{{pet.species }}</td></div>
            <div class="col l1 s2"><td class="hanD">{{pet.date }}</td></div>
            <div class="col l2 s4"><td class="hanD" ><div class="waves-light btn grey"><a href="{{ pet.link }}" class=" orange-text text-lighten-4">More</a></div></td></div>
            <div class="col l2 s4"><td class="hanD">
              {% if linked.count == 0 %}
                  <p> </p>
              {% else %}
                <div id="{{ pet.id }}" data-thumb="{{ linked.thumb }}" data-where="{{ linked.where }}" data-link="{{linked.link}}" class="hover"><a class="waves-effect waves-light btn  orange lighten-1">보기</a></div>
              {% endif %}
            </td></div>
          </tr>
          
        </tbody>
     {% endfor %}
</table>

<!-- 페이지가 없는 경우 disabled된 페이지 커서를 띄울 수 있게 주석처리 해 놓았음. 필요하면 해제 후 사용 -->

 <div class="row">
 <div class="col s2"></div>
 <center>
 <div class="col s8">
    <ul class="pagination">
    {% if board.has_previous %}
        <li class="waves-effect"><a href="?page={{ board.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <!-- <li class="disabled"><i class="material-icons">chevron_left</i></li> -->
    {% endif %}

    {% for bn in page_range %}
        {% if bn == board.number %}
            <li class="active grey"><a href="?page={{ bn }}">{{bn}}</a></li>

        {% else %}
            <li class="waves-effect"><a href="?page={{bn}}">{{bn}}</a></li>
        {% endif %}
    {% endfor %}
    {% if board.has_next %}
        <li class="waves-effect"><a href="?page={{ board.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <!-- <li class="disabled"><i class="material-icons">chevron_right</i></li> -->
    {% endif %}
    </ul>
  </div>
  </center>
  <div class="col s2"></div>
  </div>

{% endblock content %}
