<!DOCTYPE html>
<html>
    <head>
        <title>우리 멍이, 너희 냥이</title>
         <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/qtip2/3.0.3/basic/jquery.qtip.min.css">

        <meta charset="utf-8">
    </head>

    <body>
        <div class="container">

        {% block content %}

        {% endblock content %}
                        
        </div>
        
    
     <footer class="page-footer orange lighten-1">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">우리 멍이 너희 냥이</h5>
                <p class="grey-text text-lighten-4">"울멍너냥"은 데벨업 시즌 1 멤버인 김태현, 안민준이 1번 퀘스트로 제작한 프로젝트입니다.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Team We Don't have hair</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100006265753691">김태현</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/profile.php?id=100005155926937">안민준</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Icon made by Freepik from www.flaticon.com
            </div>
          </div>
        </footer>
    </body>
    
    <style type="text/css">
     body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
      }

  main {
    flex: 1 0 auto;
  }
    </style>
</html>
