<!DOCTYPE html>
<html>
    <head>
        <title>데벨업 퀘스트 #1</title>
         <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
        <meta charset="utf-8">
    </head>
    
    <body>
        {% block content %}
        {% endblock content %}
        
    </body>
</html>